[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
black = "==21.7b0"
djangorestframework = "*"
djangorestframework-jsonapi = "*"
django-filter = "*"
django-rest-swagger = "*"
pyyaml = "*"
drf-yasg = "*"

[dev-packages]
coverage = "*"

[requires]
python_version = "3.8"
